html
  head
    title=title
    link(rel='stylesheet',href='/lib/pure/build/pure-min.css')
    link(rel='stylesheet',href='/main.css')
    if requireJs
      script(src='/lib/requirejs/require.js')
      script.
        require.config({baseUrl:'/'})
        require(['app/' + (!{_.json(requireJs.app)} || 'app')], function(app) {
          app(!{_.json(requireJs.params || {})})
        });
  body
    div(ui='app')
    block content
    != _.url('http://www.yandex.ru')