html
  head
    title=title
    script(src='/test.js')
    if requireJs
      script(src='/lib/requirejs/require.js')
      script
        require.config({baseUrl:'/'})
        require(['app/app'], function(app) {
          app(!{_.json('app/' + requireJs.controller)}, !{_.json(requireJs.params || {})})
        });
  body
    div(ui='main')
    block content
    != _.url('http://www.yandex.ru')