html(ng-app=angular.module)
  head
    title=title
    link(rel='stylesheet',href='/lib/pure/build/pure-min.css')
    link(rel='stylesheet',href='/main.css')
    script(src='/lib/angular/angular.js')
    script(src='/lib/jquery/jquery.js')
    script(src='/app/photo.js')
  body.vpo-layout
    block content
